form{
    margin: auto;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
}
#email,#password,#btn,#regbtn{
    width: 90%;
    margin: 5px;
    padding:5px;
}
body{
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: aliceblue;
    overflow: hidden;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative   ;
    top: 0%; /* 20% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 2px;
    margin: 10px;
    text-decoration: none !important;
    font-size: 25px;
    color: #818181;
    border: 1px solid white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .overlay a:hover{
      background-color: white;
      color: black !important;
      transform: scale(1.2);
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 0;
    font-size: 30px;
    text-decoration: none;
    background-color: transparent !important;
  }
  .overlay .closebtn:hover{
      background-color: black !important;
      color: white !important;
      border-radius: 100px;
  }
  

  
  /* sidemenu footer */
.footer{
    position: absolute;
    text-align: center;
   background-color: white;
   color: black ;
   bottom: 0;
   left: 0;
   text-align: center;
   width: 100%;
   padding: 12px;
}

/* side menu footer credit */

  .footer-credit{

      position: relative;

  }
  /* side menu head */
  .head{
text-align: center;
margin-top: 0px;
width: auto;
padding: 10px;
  }
  
  .head>img{
      width: 40px;
      height: 40px;
  }

  /* hidden items */
  #menu{
    display: none;
  }

  

  ul{
      margin-left:0px !important;
      padding-inline-start: 0px !important;
}

.modal-backdrop{
    z-index: 0 !important;
}
#modallistitem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#modalimg{
    width: 40px !important;
    height: 40px !important;
    margin-right: 15px;
}
#modalchatbtn{
    margin-left: auto;
    margin-right: 0;

}

#fchatlistdiv{
  display: none;
}

#chatbox{
  display: none;
}

#msg{
  width: 72%;
  border-radius: 100px;

}


#sendbtn{
  width: 25%;
  border-radius: 100px;
  margin-left: 4px;
  font-weight: bolder;
}

#backbtn{
  position: relative;
}

#fphoto{
  border-radius: 100%;
}

body{
overflow: auto;

}

.sender{
color: white;
float: right;
width: 75%;
border-radius: 100px;

}
.reciever{
color: white;
float:left;
width: 75%;
border-radius: 100px;
}

.mainH{
  font-size: 15px;
}

/* cfooter */
#cfooter{
  background-color: #818181;
}
#cbody{
  background-color: white;
}
#cheader{
  background-color: #818181;
}

.delbtn{
  font-size: 18px;
  border-radius: 100px;
  font-weight: bolder;
  margin-bottom: 10px;
}